################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/project3-visualization/FileContentIndex/4c769ef5-27df-4aa5-8005-d1d40aeec43e.vsidx
/.vs/slnx.sqlite
/.vs/project3-visualization/FileContentIndex
/.vs/project3-visualization/v17/.wsuo
/.vs/project3-visualization/v17/DocumentLayout.backup.json
/.vs/project3-visualization/v17/DocumentLayout.json
/.vs/VSWorkspaceState.json
